@import '../../utilities/variables';

.offerCoupon {
	background: white;
	border-radius: 5px;
	display: grid;

	@media (min-width: 768px) {
		grid-template-columns: 2fr 1fr;
	}

	.offerDisplay {
		display: flex;

		img {
			border-radius: 10px;
			width: 85px;
			height: 70px;
			margin-right: 1.5rem;
		}

		.text h6 {
			font-weight: bold;
			letter-spacing: 0.5px;
			font-size: 0.85rem;
			margin-top: 0.5rem;

			.spanTimer {
				display: inline-block;
				margin-top: 0.1rem;
				border-radius: 5px;
				padding: 0.2rem 0.3rem;
				font-family: $roboto-font;
			}

			.activeDays {
				background: rgb(209, 250, 229);
			}

			.inactiveDays {
				background-color: rgb(254, 226, 226);
			}
		}

		p {
			font-size: 0.975rem;
			text-transform: capitalize;
			font-weight: 500;
			font-family: $open-sans-font;
		}

		h3 {
			font-weight: bold;
			transform: translateY(-0.85rem);

			span:first-of-type {
				font-size: 1.15rem;
				color: rgb(255, 74, 74);
			}

			span:last-of-type {
				color: $not-found-color-2;
				font-size: 1.225rem;
			}
		}
	}
	.offerCouponInfo {
		font-family: $open-sans-font;
		display: flex;
		flex-direction: column;
		margin-top: -0.5rem;

		@media (min-width: 768px) {
			border-left: 2px dashed rgba(0, 0, 0, 0.4);
		}

		p {
			font-weight: 500;
			font-size: 0.9rem;
			font-family: $inter-font;
		}

		button {
			background: $not-found-color;
			border: 1px dashed rgb(110, 231, 183);
			padding: 0.45rem;
			border-radius: 7px;
			color: $gen-color-a;
			font-weight: bold;
			font-family: $inter-font;
			font-size: 1rem;
			margin: -0.6rem 0 0.5rem;
		}

		small {
			font-size: 0.8rem;
			color: $not-found-color-2;

			span {
				font-weight: bold;
			}
		}
	}
}
