@import '../../utilities/variables';

.downloadApp {
  background-color: $gen-color-d;

  .downloadAppStore {
    @include display-grid(1);
    gap: 0.75rem;
    justify-items: center;
    align-items: center;

    img {
      max-width: 170px;
      max-height: 100px;
    }

    @media (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);

      .appleStore {
        justify-self: end;
      }

      .playStore {
        justify-self: start;
      }
    }

    @media (min-width: 760px) {
      img {
        max-width: 160px;
      }

      h3 {
        font-size: 1.6rem;
        line-height: 1.5;
      }

      p {
        font-size: 1.1rem;
      }
    }

    @media (min-width: 992px) {
      grid-template-columns: 1fr;
      img {
        max-width: 170px;
      }

      .appleStore {
        justify-self: center;
      }

      .playStore {
        justify-self: center;
      }
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);

      .appleStore {
        justify-self: end;
      }

      .playStore {
        justify-self: start;
      }
    }
  }

  .imageBig {
    img {
      width: 100%;
      height: 100%;
    }
  }
}
