@import '../../utilities/variables';

.footerDisplay {
  @include display-grid(2);
  gap: 1.5rem;
  font-family: $roboto-font;
  overflow-y: hidden;

  .footerText {
    text-transform: capitalize;

    .header {
      font-weight: 500;
      font-size: 1.1rem;
      margin-bottom: 0.75rem;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        @media (min-width: 512px) {
          font-size: 0.92rem;
        }

        @media (min-width: 768px) {
          font-size: 0.95rem;
        }
      }

      .link {
        color: rgb(75 85 99);

        &:hover {
          color: $gen-color-a;
        }
      }
    }
  }

  .addressLogo {
    img {
      width: 110px;
    }

    p {
      margin-top: 1rem;
      line-height: 2;
      font-size: 0.9rem;
      font-family: Verdana, Geneva, Tahoma, sans-serif;

      @media (min-width: 512px) {
        font-size: 0.9rem;
      }

      @media (min-width: 768px) {
        font-size: 0.95rem;
      }
    }
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
