@import '../../utilities/variables';

.productDisplay {
  display: grid;
  align-items: center;
  background: white;
  border-radius: 10px;
  text-transform: capitalize;
  font-family: $inter-font;
  text-overflow: clip;
  position: relative;
  width: 100%;

  .stock-out-product {
    @extend %top-position;
    left: 1rem;
  }

  .discount-product {
    @extend %top-position;
    right: 1rem;
  }

  .productImg {
    position: relative;
    cursor: pointer;
    min-height: 150px;
    display: flex;
    justify-self: center;
    align-items: center;

    &:hover img {
      transform: scale(1.05);
    }

    img {
      height: auto;
      max-width: 135px;
      width: 95%;
      transition: transform 0.2s ease-in-out;
    }

    @media (min-width: 576px) {
      img {
        max-width: 150px;
      }
    }
  }

  .productText {
    white-space: nowrap;
    overflow: hidden;

    span.weight {
      font-size: 0.8rem;
      text-transform: none;
      color: $gen-color-g;
    }

    .name {
      font-size: 0.92rem;
      margin-top: -0.15rem;

      @media (min-width: 576px) {
        font-size: 0.95rem;
      }
    }
  }

  .priceBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -0.5rem;
    vertical-align: middle;

    .priceDiv {
      span:nth-of-type(1) {
        font-weight: bold;
        font-size: 1rem;
      }

      span:nth-of-type(2) {
        color: $gen-grey-color;
        text-decoration: line-through;
        margin-left: 0.1rem;
        font-size: 0.95rem;
      }
    }

    .noStockCursor {
      cursor: default !important;
    }

    .productBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      background: white;
      border: 1px solid $gen-color-b;
      color: $bg-color;
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 5px;

      &:hover {
        background: $bg-color;
        color: white;
      }
    }

    .productAddBtn {
      background: $bg-color;
      padding: 0.3rem 0.5rem;
      border-radius: 5px;
      font-weight: 500;
      color: white;

      .button {
        background: transparent;
        border: none;
        font-size: 0.9rem;
        color: white;
        color: $not-found-color;

        span {
          font-weight: bolder;
        }
      }

      span {
        padding: 0.075rem 0.3rem 0;
        font-family: $open-sans-font;
        font-size: 0.93rem;
      }
    }
  }
}
