@import '../components/utilities/variables';

.checkOut {
  padding-top: 5.5rem;
  background: $gen-color-c;
  @include display-grid(1);
  gap: 2.5rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(9, 1fr);
    position: relative;
    gap: 1.5rem;
  }

  @media (min-width: 992px) {
    padding-top: 10rem;
  }

  .orderInfoDiv {
    padding: 1rem 1.25rem;
    background: white;
    border-radius: 8px;
    border: 1px solid $input-border-color;
    align-self: start;

    @media (min-width: 768px) {
      grid-column: 6/10;
      position: sticky;
      top: 6rem;
    }

    @media (min-width: 992px) {
      grid-column: 6/10;
      position: sticky;
      top: 8rem;
    }

    h4 {
      text-transform: capitalize;
      margin-bottom: 1rem;
      font: {
        family: $inter-font;
        size: 1.15rem;
        weight: 600;
      }

      @media (min-width: 640px) {
        font-size: 1.2rem;
      }
    }

    .orderSummaryCart {
      max-height: 16rem;
      width: 100%;
      overflow-y: scroll;

      .cartProduct {
        &:first-child {
          margin-top: 0;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .emptyOrderSummaryDiv {
      height: 10rem;
      @include display-flex-center;
      background: $gen-color-b;

      span {
        color: $not-found-color-2;
      }

      p {
        text-transform: capitalize;
        color: $gen-color-h;
        margin-top: 0.75rem;
      }
    }

    .couponTextDiv {
      margin: 1.75rem 0;

      input {
        height: 3rem;
        display: flex;
        align-items: center;
        font-family: $inter-font;
      }

      button {
        width: 100%;
        height: 3rem;
        @include display-flex-center;
        font-weight: 600;
        border: 1px solid $input-border-color;
        background: transparent;
        padding: 0.5rem;
        border-radius: 5px;
        margin-top: 0.75rem;

        @media (min-width: 576px) {
          width: 200px;
          margin-top: 0;
          margin-left: 0.75rem;
        }

        &:hover {
          background: $bg-color;
          color: white;
        }
      }
    }

    .orderPriceDiv {
      h3 {
        @include display-flex-between;
        font-family: $open-sans-font;
        margin-bottom: 0.75rem;

        span:first-of-type {
          color: $gen-color-h;
          font-size: 1rem;
          letter-spacing: 0.25px;
          font-weight: 600;
          text-transform: capitalize;
        }
        span:last-of-type {
          color: rgb(31, 41, 55);
          font-size: 1rem;
          letter-spacing: 0.25px;
          font-weight: 600;
          text-transform: capitalize;
        }

        &:last-of-type {
          span:last-of-type {
            color: rgb(251, 146, 60);
          }
        }
      }
    }
    .totalPriceDiv {
      font-weight: bold;
      height: 2.75rem;
      border-top: 2px solid $gen-color-c;

      span:first-of-type {
        text-transform: uppercase;
        font-size: 1rem;
      }
      span:last-of-type {
        font-size: 1.25rem;
      }
    }
  }

  .customerInfoDiv {
    h3 {
      color: rgb(55, 65, 81);
      font-size: 1.275rem;
      margin-bottom: 1rem;
    }

    label {
      text-transform: capitalize;
      color: $gen-color-h;
    }

    .personDetails {
      @include orderGrid;
    }

    .shippingDetails {
      @include orderGrid;
    }

    div {
      span {
        display: none;
        color: rgb(248, 113, 113);
      }
    }
    @media (min-width: 768px) {
      grid-column: 1/6;
    }

    .shipping {
      @include display-flex-between;
      background: white;
      border: 1px solid $input-border-color;
      padding: 0.5rem 0.75rem;
      border-radius: 5px;

      .text {
        @include display-flex-between;

        .icon {
          font-size: 1.5rem;
          color: $gen-color-g;
          margin-right: 0.75rem;

          @media (min-width: 768px) and (max-width: 928px) {
            font-size: 1.3rem;
            margin-right: 0.5rem;
          }
        }

        h6 {
          color: $not-found-color-2;
          font-weight: 500;
          margin: 0;
        }

        .info {
          margin-bottom: 0;
          color: $gen-color-h;
          font-size: 0.905rem;
        }
      }
    }

    .shippingDiv {
      @include orderGrid;

      span {
        margin-top: -0.95rem;
      }
    }

    .paymentDiv {
      @include orderGrid;
      margin-bottom: 2rem;

      span {
        margin-top: -0.95rem;
      }

      .payment {
        @include display-flex-between;
        background: white;
        border: 1px solid $input-border-color;
        padding: 0.75rem;
        border-radius: 5px;

        .text {
          @include display-flex-between;

          .icon {
            font-size: 1.25rem;
            color: $gen-color-g;
            margin: 0;
            margin-right: 0.75rem;

            @media (min-width: 768px) and (max-width: 928px) {
              font-size: 1.3rem;
              margin-right: 0.5rem;
            }
          }

          h6 {
            color: $not-found-color-2;
            font-weight: 500;
            margin: 0;
          }
        }
      }

      .cardDetails {
        font-family: monospace;
        color: darken($color: $gen-color-f, $amount: 20);
        background: white;
        border: 1px solid $input-border-color;
        padding: 0.75rem;
        border-radius: 5px;
        min-height: 3rem;

        @media (min-width: 640px) {
          grid-column: span 2;
        }
      }
    }

    .submitBtn {
      @include orderGrid;

      span {
        display: inline-block;
        font-size: 1.15rem;
        margin: 0 0.5rem;
      }

      a {
        @include display-flex-center;
        color: rgb(55, 65, 81) !important;
        background: $gen-color-d;
        padding: 0.5rem 0.75rem;
        border: 1px solid rgb(224, 231, 255);
        border-radius: 5px;
        text-transform: capitalize;
        &:hover {
          border-color: rgb(209, 213, 219);
        }

        span {
          color: black;
        }
      }

      button {
        border-radius: 5px;
        padding: 0.5rem 0.75rem;
        background: $bg-color;
        color: white;
        text-transform: capitalize;
        border: 1px solid transparent;
        span {
          color: white;
        }

        &:hover {
          background: $gen-color-a;
        }
      }
    }

    input[type='radio'] {
      width: auto;
      width: 18px;
      height: 18px;
      padding: 0;
      -webkit-appearance: none;
      appearance: none;
      border-radius: 50%;
      transition: 0.15s all;
      background: transparent;

      &:checked {
        border-color: transparent;
        background-color: $bg-color;
      }
    }
  }
}
