@import '../../utilities/variables';

.popularProducts {
  background: rgb(249 250 251);

  .popularDisplay {
    @include display-grid(2);
    gap: 0.6rem;

    @media (min-width: 40rem) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 64rem) {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
