@import '../variables';

.sharedCategoryDiv {
  display: grid;
  gap: 1.5rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }

  .textImg {
    width: 100%;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      box-shadow: 0 12px 12px 2px rgba($color: #000000, $alpha: 0.1);
    }

    .text {
      width: inherit;
      position: absolute;
      color: white;
      font-family: verdana;

      p {
        font-size: 0.95rem;
      }

      p:first-of-type {
        font-weight: bold;
        color: $gen-color-b;
        font-size: 1rem;
        margin-bottom: 0.2rem;
      }

      h3 {
        text-transform: capitalize;
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 0.2rem;
      }

      button {
        background: $gen-color-e;
        color: white;
        font-size: 0.85rem;
        text-transform: capitalize;
        padding: 0.4rem 1rem;
        border: none;

        &:hover {
          background: $gen-color-a;
        }
      }
    }

    img {
      width: inherit;
      border-radius: inherit;
    }
  }
}
