@import '../../utilities/variables';

.forgotPasswordModal {
  @extend %backdrop;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formBackground {
  z-index: 17;
  position: fixed;
  background: white;
  padding: 1rem 1.5rem 1.5rem;
  border-radius: 10px;
  top: 30%;
  left: 8%;
  width: 85%;
  margin: auto;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  font-family: $inter-font;

  @media (min-width: 520px) {
    max-width: 520px;
  }
  @media (min-width: 768px) {
    padding: 1.5rem 3rem;
    left: 21%;
  }
  @media (min-width: 992px) {
    left: 30%;
  }

  h3 {
    color: $bg-color;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.25rem;

    @media (min-width: 640px) {
      font-size: 1.35rem;
    }
  }

  label {
    @media (min-width: 640px) {
      font-size: 1.05rem;
    }
  }

  .closeModal {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: white;
    color: red;
    cursor: pointer;
    position: absolute;
    right: 20px;

    &:hover {
      background: rgb(255, 226, 226);
    }
  }

  form {
    label {
      margin-bottom: 0.75rem;
    }
  }
}
