@import '../../utilities/variables';

$gray-color: rgb(212, 211, 211);

.moveModalHere {
  transform: translateX(0);
  transition: transform 0.25s ease-in-out;
}

.moveModalAway {
  transform: translateX(-800px);
  transition: transform 0.25s ease-in-out;
}

.addBackdrop {
  opacity: 1;
}

.backdrop {
  @extend %backdrop;
  transition: opacity 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.55);
  font-family: $open-sans-font;
  overflow: hidden;
}

.categoryDisplay {
  background: white;
  height: inherit;
  height: 100%;
  width: 100vw;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  scrollbar-width: 0;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 576px) {
    width: 420px;
  }

  nav {
    background: $bg-color;
    position: fixed;
    width: 100%;

    .closeModal {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      background: white;
      color: red;
      position: absolute;
      right: 25px;
      cursor: pointer;

      &:hover {
        background: rgb(255, 226, 226);
      }
    }
  }

  h6 {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 4rem;
    border-bottom: 1px solid $gray-color;
    letter-spacing: 1px;
  }
}
