@import '../../utilities/variables';

.searchBox {
  display: flex;
  font-family: $roboto-font;

  input {
    border-radius: 5px;
    padding: $input-padding;
    width: 100%;
    position: relative;
    border-color: transparent;
    color: #555;
    position: relative;

    &:focus-visible {
      outline: none;
    }
  }

  button {
    background: white;
    position: relative;
    border-radius: 5px;
    padding: $input-padding;
    right: 2%;
    border-color: transparent;
    color: #888;
  }
}
