@import '../../utilities/variables';

.searchBox {
  position: relative;
  font-family: $roboto-font;

  input {
    border-radius: 5px;
    padding: $input-padding;
    width: 100%;
    border-color: transparent;
    color: #555;
    position: relative;

    &:focus-visible {
      outline: none;
    }
  }

  button {
    background: white;
    position: relative;
    position: absolute;
    border-radius: 5px;
    right: 2px;
    top: 2px;
    height: 40px;
    width: 50px;
    border-color: transparent;
    color: #888;
  }
}
