@import '../../utilities/variables';

.featureDisplay {
  .image {
    grid-column: 1/2;

    img {
      max-width: 150%;
      width: 32px;
      height: auto;
    }
  }

  .text {
    grid-column: 2/7;

    p {
      margin-bottom: 0.3rem;
      max-width: 150px;
      @include clamp-text();

      a {
        color: rgb(78, 78, 78);
      }
    }

    li {
      font-size: 0.82rem;
      list-style: none;

      a {
        color: rgb(139, 140, 143);

        &:hover {
          color: $gen-color-a;
        }
      }
    }
  }

  &:hover .text p a {
    color: $bg-color;
  }
}
