@import '../../utilities/variables';

.mainNavbar {
  background: $bg-color;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 5;
  padding: 0.9rem 0;

  @media (min-width: 640px) {
    padding: 1rem 0;
  }
}

.cartClick {
  cursor: pointer;
}

h2.iconStyle {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform: translateY(0.35rem);

  @media (min-width: 992px) {
    transform: translateY(0.25rem);
  }
}
