* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general container */
.myContainer {
  max-width: 1350px;
  padding: 0 1rem;
}

.iconStyle {
  color: #fff;
  cursor: pointer;
}

/* searchbox & nav style */

.navbarSearch {
  background: rgb(16, 185, 129);
  padding: 0.75rem 0;
  position: fixed;
  width: 100%;
}

.navbarLogo,
.navbarIcons {
  display: none;
}

.navbarIcons .itemNumber,
.itemNumber {
  width: 22px;
  height: 22px;
  text-align: center;
  position: absolute;
  background: rgb(239 68 68);
  color: white;
  border-radius: 50%;
  font-size: 0.85rem;
  top: -10px;
  right: -10px;
}

.navbarLogo img {
  width: 100px;
  height: 60px;
}

.searchBox {
  /* padding-left: 0.5rem; */
  display: flex;
}

.searchBox input {
  border-radius: 5px;
  padding: 0.6rem 1rem;
  width: 100%;
  position: relative;
  border-color: transparent;
  color: #555;
  position: relative;
}

.searchBox input:focus-visible {
  outline: none;
}

.searchBox button {
  background: white;
  position: relative;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  right: 2%;
  border-color: transparent;
  color: #888;
}

.mainNavbar {
  background: rgb(16, 185, 129);
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media (min-width: 992px) {
  .navbarLogo,
  .navbarIcons {
    display: block;
  }

  .myContainer {
    margin: auto;
    padding: 0 2rem;
  }
}
