* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general container */
.myContainer {
  max-width: 1350px;
  padding: 0 1rem;
  border-radius: 5px;
}

/* ::-webkit-scrollbar{

} */

.iconStyle {
  color: #fff;
  cursor: pointer;
}

.spinner img {
  width: 130px;
  height: 130px;
}

/* searchbox & nav style */
.navbarSearch {
  background: rgb(16, 185, 129);
  padding: 0.75rem 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navbarLogo,
.navbarIcons {
  display: none;
}

.navbarIcons .itemNumber,
.itemNumber {
  width: 22px;
  height: 22px;
  text-align: center;
  position: absolute;
  background: rgb(239 68 68);
  color: white;
  border-radius: 50%;
  font-size: 0.85rem;
  top: -10px;
  right: -10px;
}

.navbarLogo img {
  width: 100px;
  height: 60px;
}

.searchBox {
  display: flex;
}

.searchBox input {
  border-radius: 5px;
  padding: 0.6rem 1rem;
  width: 100%;
  position: relative;
  border-color: transparent;
  color: #555;
  position: relative;
}

.searchBox input:focus-visible {
  outline: none;
}

.searchBox button {
  background: white;
  position: relative;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  right: 2%;
  border-color: transparent;
  color: #888;
}

/* main nav bar */
.mainNavbar {
  background: rgb(16, 185, 129);
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* background slider */
.homeSlider {
  padding-top: 5rem;
  /* padding-bottom: 5rem; */
  /* min-height: 500px; */
}

.homeSlider .swiper {
  height: 220px;
  border-radius: 10px;
  position: relative;
}

.swiper .swiperText {
  color: rgb(2, 14, 11);
  position: absolute;
  font-weight: bold;
  top: 25%;
  left: 2%;
  width: 65%;
}

.swiper h2 {
  text-transform: capitalize;
  font-weight: 700;
}

/* desktop organic show */
.organicProduct {
  background: rgb(255, 237, 213);
  border-radius: 10px;
}

.organicProduct span:nth-of-type(1) {
  color: rgb(5, 150, 105);
  font-size: 1.3rem;
  font-weight: 600;
}

.organicProduct span:nth-of-type(2) {
  font-size: 1.3rem;
}

.organicProduct a {
  text-decoration: none;
  color: rgb(5, 150, 105);
}

.organicProduct button {
  background: rgb(16, 185, 129);
  border-color: rgb(16, 185, 129);
}

/* coupon styling */
.coupon {
  border: 2px solid rgb(249 115 22);
  border-radius: 5px;
  background: rgb(249, 250, 251);
}

.coupon .couponText {
  background: rgb(255, 237, 213);
}

.coupon:hover {
  border-color: rgb(16 185 129);
}

.coupon .timer {
  border: 1px solid #eee;
  border-radius: 5px;
}

.timer img {
  width: 85%;
  min-height: 70px;
  border-radius: 10px;
}

.timer .timerText span:nth-of-type(1) {
  font-size: 1.2rem;
  color: rgb(249 115 22);
  font-weight: bold;
}

.timer .timerText span:nth-of-type(2) {
  padding: 0.35rem 1rem;
  border-radius: 35%;
  font-size: 0.85rem;
  color: rgb(5 150 105);
  background: rgb(209, 250, 229);
}

.timer .timerText p {
  margin-top: 0.25rem;
  font-weight: bold;
}

.timerNum {
  font-weight: bolder;
}

.timerNum span {
  font-weight: normal;
  background: rgb(5 150 105);
  color: white;
  padding: 0.25rem;
  border-radius: 3px;
}

.timer .timerDetails h6 {
  border: 1px dashed rgb(5 150 105);
  padding: 0.5rem 0;
  border-radius: 5px;
  font-size: 0.9rem;
  text-align: center;
  color: rgb(5 150 105);
  background: rgb(209, 250, 229);
}

.timerDetails p {
  font-size: 0.8rem;
}

/* featured categories */
.features {
  background: rgb(243, 244, 246);
}

.features .featuresText h3 {
  font-weight: bold;
}

.features .featuresText p {
  font-size: 1.15rem;
}

.features .featuresDisplay {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(120px, 140px);
}

.featuresDisplay .featureDisplay {
  background: white;
  border: 0.12rem solid rgb(243 244 246);
  border-radius: 2px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  text-transform: capitalize;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

.featureDisplay:hover {
  box-shadow: 1px 7px 7px rgba(224, 222, 222, 0.95);
}

.featureDisplay .image {
  grid-column: 1/2;
}

.image img {
  width: 32px;
  height: 32px;
}

.featureDisplay .text {
  grid-column: 2/7;
}

.text p {
  color: rgb(78, 78, 78);
  font-size: 1rem;
  margin-bottom: 0.3rem;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 150px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.featureDisplay:hover .text p {
  color: rgb(16, 185, 129);
}

.text li {
  color: rgb(139, 140, 143);
  font-size: 0.82rem;
  list-style: circle;
  list-style: none;
}

li:hover {
  color: rgb(5, 133, 90);
}

@media (min-width: 576px) {
  .homeSlider .swiper {
    height: 250px;
  }

  .features .featuresDisplay {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .homeSlider .swiper {
    height: 270px;
  }

  .swiper h2 {
    font-size: 2rem;
  }

  .swiper p {
    font-size: 1.2rem;
  }

  .features .featuresDisplay {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 992px) {
  .navbarLogo,
  .navbarIcons {
    display: block;
  }

  .myContainer {
    margin: auto;
    padding: 0 3rem;
  }

  .homeSlider {
    padding-top: 7rem;
  }

  .homeSlider .swiper {
    height: 300px;
  }
}

@media (min-width: 1200px) {
  .features .featuresDisplay {
    grid-template-columns: repeat(6, 1fr);
  }
}
