@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

@import '/src/components/utilities/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

/* general container */
.myContainer {
  max-width: 1350px;
  padding: 0 1rem;
  border-radius: 5px;
}

.iconStyle {
  color: #fff;
  cursor: pointer;
}

.randomText {
  h3 {
    font-weight: bold;
    font-size: 1.5rem;
    font-family: $inter-font;
    font-size: 1.4rem;
  }

  p {
    font-size: 1rem;
    font-family: $roboto-font;
    margin-top: 0.75rem;
  }
}

.button {
  background: $bg-color;
  border-color: $bg-color;
}

.error h5 {
  text-transform: capitalize;
}

.itemNumber {
  width: 22px;
  height: 22px;
  text-align: center;
  position: absolute;
  background: rgb(239 68 68);
  color: white;
  border-radius: 50%;
  font-size: 0.85rem;
  top: -10px;
  right: -10px;
}

@media (min-width: 576px) {
  .myContainer {
    padding: 0 2rem;
  }
}
@media (min-width: 992px) {
  .myContainer {
    margin: auto;
    padding: 0 3rem;
  }
}
