@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

@import '/src/components/utilities/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

/* general container */
.myContainer {
  max-width: 1350px;
  padding: 0 0.75rem;
  border-radius: 5px;
}

.iconStyle {
  color: #fff;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.logoImg {
  width: 100px;
  height: 60px;
}

.randomText {
  h3 {
    font-weight: bold;
    font-size: 1.5rem;
    font-family: tahoma;
    font-size: 1.4rem;
    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }

  p {
    font-size: 1.05rem;
    font-family: $roboto-font;
    margin-top: 0.75rem;

    @media (min-width: 768px) {
      font-size: 1.1rem;
    }
  }
}

.modalDisplay {
  background: white;
  position: fixed;
  height: 100%;
  width: 100vw;
  overflow-y: scroll;
  z-index: 22;
  top: 0;
  scrollbar-width: 0;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 500px) {
    width: 420px;
  }
}

.modalNav {
  position: absolute;
  position: fixed;
  width: 100%;
  z-index: 25;
  top: 0;

  @media (min-width: 500px) {
    width: 420px;
  }
}

.button {
  background: $bg-color;
  border-color: $bg-color;
}

.error h5 {
  text-transform: capitalize;
  font-size: 1.2rem;
}

.itemNumber {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  @include display-flex-center;
  background: rgb(239 68 68);
  color: white;
  font-size: 0.85rem;
  font-weight: 500;
  top: -4px;
  right: -7px;

  @media (min-width: 992px) {
    top: -7px;
    right: -9px;
  }
}

.stock-out {
  @extend %stock-discount;
  color: rgb(220, 38, 38);
  background: rgb(254 226 226);
  border-radius: 12px;
  font-weight: bold;
}

.stock-in {
  @extend %stock-discount;
  color: $gen-color-a;
  background: rgb(209 250 229);
  border-radius: 12px;
  font-weight: bold;
}

.discount {
  @extend %stock-discount;
  color: white;
  background: rgb(249, 115, 22);
  border-radius: 5px;
}

.bgDisplayProducts {
  background: $gen-color-c;
}

.productsDisplay {
  @include display-grid(2);
  gap: 0.6rem;

  @media (min-width: 40rem) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 52rem) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 64rem) {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 576px) {
  .myContainer {
    padding: 0 1.25rem;
  }
}

@media (min-width: 768px) {
  .myContainer {
    padding: 0 2rem;
  }
}

@media (min-width: 992px) {
  .myContainer {
    margin: auto;
    padding: 0 3rem;
  }

  .home {
    padding-top: 2rem;
  }
}
