$roboto-font: 'Roboto', sans-serif;
$inter-font: 'Inter', sans-serif;
$open-sans-font: 'Open Sans', sans-serif;
$input-padding: 0.6rem 1rem;
$line-clamp: 1;
$bg-color: rgb(16, 185, 129);
$not-found-color: rgb(236 253 245);
$not-found-color-2: rgb(75, 85, 99);
$gen-color-a: rgb(5, 150, 105);
$gen-color-b: rgb(243, 244, 246);
$gen-color-c: rgb(249, 250, 251);
$gen-color-d: rgb(238, 242, 255);
$gen-color-e: rgb(34, 197, 94);
$gen-color-f: rgb(255, 237, 213);
$gen-color-g: rgb(156, 163, 175);
$gen-color-h: rgb(107, 114, 128);
$gen-grey-color: rgb(6, 7, 7);
$table-head-color: rgb(55, 65, 81);
$input-border-color: rgb(230, 223, 223);
$grid-repeat-num: 1;

@mixin clamp-text() {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $line-clamp;
  -webkit-box-orient: vertical;
}

@mixin orderGrid {
  display: grid;
  gap: 1rem 1.5rem;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

@mixin display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin display-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin display-grid($grid-repeat-num) {
  display: grid;
  grid-template-columns: repeat($grid-repeat-num, 1fr);
}

%backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background: rgba(0, 0, 0, 0.4);
}

%downloadPrintBtn {
  background: $bg-color;
  border: none;
  padding: 0.45rem 1rem;
  color: white;
  border-radius: 5px;
  text-transform: capitalize;

  span {
    font-size: 1.2rem;
    margin-left: 0.5rem;
  }

  &:hover {
    background: $gen-color-a;
  }
}

%fixed-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
}

%desktop-Modal {
  position: fixed;
  margin-top: 8.2rem;
  z-index: 10;
  background: white;
  width: 320px;
  border: 1px solid $gen-color-d;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

%top-position {
  position: absolute;
  top: 1rem;
}

%stock-discount {
  z-index: 1;
  font-size: 0.78rem;
  letter-spacing: 0.5px;
}
